html, body {
  	margin: 0;
    padding: 0;
    height: 100%;
    color: white;
  }

  .tb-home-ctr {
  	height: 100vh;
  	background-image: url("8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;  /* vertical centering */

    flex-direction: column;
    text-align: center;
  }

  .tb-home-ctr img {
    position: relative;
    z-index: 5000;
  }

  .bg-overlay {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  .tb-home-ctr button {
  	font-size: 24px;
  	background: forestgreen;
  	color: white;
  	padding: 16px 24px;
  	border-radius: 10px;
  	border: none;
  }